footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF9900;
  color: #fefefe;
  text-align: center;
  clear: both;
}

footer *
    {
        display: inline;
    }

.twitter-link, .coindesk-link, .tippin-me-part {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;

}

#tippin-button {
  padding: 6px;
}

/* Font styling. */
p {
  font-size: 12px;
  font-weight: bold;
}

a {
  font-size: 12px;
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
